################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HWL/.vs
/HWL/HWL.API/bin
/HWL/HWL.API/obj
/HWL/HWL.Entity/bin
/HWL/HWL.Entity/obj
/HWL/HWL.Test/bin
/HWL/HWL.Test/obj/Debug
/HWL/HWL.Tools/bin
/HWL/HWL.Tools/obj
/HWL/HWL.Resx/obj
/HWL/HWL.Resx/bin
/HWL/HWL.Resx/upload
/HWL/HWL.MQGroupDistribute/bin
/HWL/HWL.MQGroupDistribute/obj
/HWL/HWL.RabbitMQ/bin
/HWL/HWL.RabbitMQ/obj
/HWL/HWL.Unit/bin
/HWL/HWL.Unit/obj
/HWL/HWL.Redis/bin
/HWL/HWL.Redis/obj
/HWL/HWL.Manage/bin
/HWL/HWL.Manage/obj
/HWL/HWL.Manage.Service/obj
/HWL/HWL.Manage.Service/bin
/HWL/HWL.Manage/upload
/HWL/HWL.H5/bin
/HWL/HWL.H5/obj
/HWL/HWL.Service/bin
/HWL/HWL.Service/obj
/HWL/HWL.IMClient/bin
/HWL/HWL.IMClient/obj
/HWL/HWL.IMClientTest/bin
/HWL/HWL.IMClientTest/obj
/HWL/HWL.IMCore/bin
/HWL/HWL.IMCore/obj
/HWL/HWL.PushStandard/bin
/HWL/HWL.PushStandard/obj
/HWL/HWL.PushTest/bin
/HWL/HWL.PushTest/obj
/HWL/packages
/HWL/HWL.API/log
/HWL/HWL.API/Properties/PublishProfiles
