################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HWL/.vs
/HWL/HWL.API
/HWL/HWL.Entity/bin/Debug
/HWL/HWL.Service/bin/Debug
/HWL/HWL.Entity/obj/Debug
/HWL/HWL.Service/obj/Debug
/HWL/HWL.Test/bin
/HWL/HWL.Test/obj/Debug
/HWL/HWL.Tools/bin/Debug
/HWL/HWL.Tools/obj/Debug
/HWL/HWL.Resx/obj/Debug
/HWL/HWL.Resx/bin
/HWL/HWL.Resx
/HWL/HWL.MQGroupDistribute/bin
/HWL/HWL.MQGroupDistribute/obj/Debug
/HWL/HWL.RabbitMQ/bin
/HWL/HWL.RabbitMQ/bin/Debug
/HWL/HWL.RabbitMQ/obj/Debug
/HWL/packages/Microsoft.AspNet.WebPages.zh-Hans.3.2.3
/HWL/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0
/HWL/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0
/HWL/packages/Newtonsoft.Json.5.0.1
/HWL/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/zh-Hans
/HWL/packages/Microsoft.AspNet.Razor.zh-Hans.3.2.3
/HWL/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/zh-Hans
/HWL/packages/Microsoft.AspNet.Mvc.zh-Hans.5.2.3
/HWL/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/zh-Hans
/HWL/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0
/HWL/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0
/HWL/packages/Microsoft.ApplicationInsights.Web.2.2.0
/HWL/HWL.Unit/bin
/HWL/HWL.Unit/obj/Debug
/HWL/HWL.Redis/bin
/HWL/HWL.Redis/bin/Debug
/HWL/HWL.Redis/obj/Debug
/HWL/HWL.Redis/bin/Release/StackExchange.Redis.dll
/HWL/HWL.Redis/bin/Release/Newtonsoft.Json.xml
/HWL/HWL.Redis/bin/Release/Newtonsoft.Json.dll
/HWL/HWL.Redis/bin/Release/HWL.Redis.pdb
/HWL/HWL.Redis/bin/Release/HWL.Redis.dll
/HWL/HWL.Manage/bin
/HWL/HWL.Manage/obj/Debug
/HWL/HWL.Manage.Service/obj/Debug
/HWL/HWL.Manage.Service/bin/Debug
/HWL/HWL.Manage/upload/apkversion/201805
/HWL/HWL.H5/bin
/HWL/HWL.H5/obj/Debug
