.login {
    background: #368ee0 none repeat scroll 0 0;
}

    .login .wrapper {
        height: 500px;
        left: 50%;
        margin: -200px;
        position: absolute;
        top: 40%;
        width: 400px;
    }

        .login .wrapper h1 > a {
            color: #fff;
            display: block;
            font-size: 48px;
            font-weight: 300;
            padding: 2px 0;
            text-align: center;
            text-decoration: none;
        }

            .login .wrapper h1 > a img {
                margin-right: 20px;
                margin-top: -8px;
            }

        .login .wrapper .login-body {
            background: #fff none repeat scroll 0 0;
            margin-top: 20px;
        }

            .login .wrapper .login-body form {
                padding: 0 30px;
            }

            .login .wrapper .login-body h2 {
                color: #333;
                font-size: 24px;
                font-weight: 300;
                padding: 20px 30px 5px;
            }

            .login .wrapper .login-body .email input, .login .wrapper .login-body .pw input {
                height: 35px;
                padding: 8px 12px;
            }

            .login .wrapper .login-body .submit {
                margin-top: 15px;
            }

                .login .wrapper .login-body .submit::after {
                    clear: both;
                    content: "";
                    display: table;
                }

                .login .wrapper .login-body .submit input {
                    float: right;
                }

                .login .wrapper .login-body .submit .remember {
                    float: left;
                    margin-left: 1px;
                    margin-top: 5px;
                }

                    .login .wrapper .login-body .submit .remember [class*="icheckbox"], .login .wrapper .login-body .submit .remember label {
                        float: left;
                    }

                    .login .wrapper .login-body .submit .remember label {
                        margin-left: 10px;
                    }

            .login .wrapper .login-body .forget {
                margin-top: 50px;
            }

                .login .wrapper .login-body .forget a {
                    background: #eee none repeat scroll 0 0;
                    color: #555;
                    display: block;
                    padding: 10px 0;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                }

                    .login .wrapper .login-body .forget a:hover {
                        background: #ddd none repeat scroll 0 0;
                    }

                    .login .wrapper .login-body .forget a span {
                        line-height: 30px;
                        margin-bottom: 10px;
                        position: relative;
                    }

.icheckbox_square-blue, .iradio_square-blue {
    border: medium none;
    cursor: pointer;
    display: block;
    height: 22px;
    margin: 0;
    padding: 0;
    width: 22px;
}

    .icheckbox_square-blue, .icheckbox_square-blue.static:hover {
        background-position: 0 0;
    }

        .icheckbox_square-blue.hover, .icheckbox_square-blue:hover {
            background-position: -24px 0;
        }

        .icheckbox_square-blue.checked {
            background-position: -48px 0;
        }

        .icheckbox_square-blue.disabled {
            background-position: -72px 0;
            cursor: default;
        }

        .icheckbox_square-blue.checked.disabled {
            background-position: -96px 0;
        }

.control-group {
    margin-bottom: 10px;
}
