body{font:400 14px/1.5 "\5FAE\8F6F\96C5\9ED1",Helvetica;color:#000;background-color:#fff;-webkit-user-select:none;-webkit-text-size-adjust:none}
body,div,dl,dt,dd,del,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,menu{margin:0;padding:0}
input[type=text],textarea{-webkit-appearance:none;outline:0}
button{outline:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;font-style:normal}
q:before,q:after{content:''}
abbr,acronym{border:0}
header,section,footer{display:block;margin:0;padding:0}
a{color:#000;text-decoration:none}
.dn{display:none}

.lincoapp-graphic-list2{}
.lincoapp-graphic-list2 li{}
.lincoapp-graphic-list2 li.selected{background:#f1f1f1}
.lincoapp-graphic-list2 li:last-child .a-lk{border-bottom:0}
.lincoapp-graphic-list2 .a-lk{display:-webkit-box;display:box;padding:.12rem 0 .1rem;margin:0 .16rem;border-bottom:1px solid #f5f5f5}
.lincoapp-graphic-list2 .a-lk:visited{color:#888}
.lincoapp-graphic-list2 .u-img,.lincoapp-graphic-list2 .u-img2{position:relative;overflow:hidden;display:block;width:.92rem;height:.61rem}
.lincoapp-graphic-list2 .u-img{background:#f0f5f9 url(/content/images/default.png) no-repeat;}
.lincoapp-graphic-list2 .detail{position:relative;display:-webkit-box;display:box;-webkit-box-flex:1;-webkit-box-pack:justify;-webkit-box-orient:vertical;min-height:.61rem;margin-right:.08rem}
.lincoapp-graphic-list2 .tit{font-size:.16rem;font-weight:400;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;word-break:break-all;overflow:hidden;text-overflow:ellipsis;line-height:1.2}
.lincoapp-graphic-list2 .txt{margin-top:.07rem;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;word-break:break-all;overflow:hidden;text-overflow:ellipsis;font-size:.15rem;color:#666;line-height:1.3}
.lincoapp-graphic-list2 .info{display:-webkit-box;display:box;width:100%;margin-top:.04rem;line-height:1.2;color:#ababab}
.lincoapp-graphic-list2 .info span{display:block;margin-right:.08rem;font-size:.11rem;color:#ababab}
.lincoapp-graphic-list2 .info .icon{}
.lincoapp-graphic-list2 .info .icon.type1{position:static}
.lincoapp-graphic-list2 .novel .u-img,.lincoapp-graphic-list2 .novel .u-img2{height:1.22rem}
.lincoapp-graphic-list2 .novel .detail{min-height:0;height:1.22rem}
.lincoapp-graphic-list2 .novel .tit{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.lincoapp-graphic-list2 .novel .author{font-size:.11rem}
.lincoapp-graphic-list2 .novel .a-lk:visited .txt{color:#888}
.lincoapp-graphic-list2 .multi.a-lk{display:block}
.lincoapp-graphic-list2 .multi .img{height:auto}
.lincoapp-graphic-list2 .multi .tit{-webkit-line-clamp:2}
.header-extend .srch-global .srch-input{-webkit-box-flex:1;padding:.05rem 0 .03rem}
.header-extend .srch-global .input-txt{width:100%;height:.3rem;line-height:.3rem;background:transparent;border:0 none;font-size:.16rem;color:#666}
.header-extend .hotwords{padding:.13rem 0 .06rem .2rem;font-size:.15rem;line-height:1.2}
.header-extend .hotwords a{margin-right:.16rem;color:#5c5c5c}
.header-extend .hotwords a:last-child{margin-right:0}
.lincoapp-tab{position:relative}
.lincoapp-tab.skin-fixed{position:fixed;left:0;top:0;z-index:1000;width:100%}
.lincoapp-tab ul{position:relative;z-index:100;background:#edf5fa;display:-webkit-box;height:.36rem;border-bottom:1px solid #dfe8ef;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:center;line-height:.36rem;font-size:.16rem;color:#1f1f1f}
.lincoapp-tab li{width:50%;-webkit-box-flex:1;height:.34rem;margin:0 .16rem}
.lincoapp-tab li.selected{color:#277de2;border-bottom:2px solid #277de2;font-weight:700}
.lincoapp-tab li span{position:relative}
.lincoapp-home-more2{display:block;height:.33rem;padding:.05rem 0;text-align:center;line-height:.33rem;font-size:.16rem;color:#277de2}
.lincoapp-home-more2:visited{color:#277de2}
.lincoapp-home-title{display:-webkit-box;display:box;width:100%;padding:.05rem .16rem;-webkit-box-align:end;-webkit-box-sizing:border-box;box-sizing:border-box;line-height:1.5}
.lincoapp-home-title .tit{-webkit-box-flex:1;font-size:.21rem;color:#277de2;font-weight:700}
