
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family:sans-serif;
}

.shareContainer {
    background: url("../Content/images/bg_share.png");
    background-repeat: round;
    width: 100%;
    height: 100%;
}

.hintContainer{
    color:white;
    font-size:16px;
    font-size: 20px;
    text-align: center;
    padding:10% 50px;
}

.logoContainer{
    padding-top: 50px;
}

.logoContent{
    width:100px;
    height:100px;
    background-color:white;
    border-radius: 10px;
    margin: 0 auto;
}

.logoContent img{
    width:100px;
    height:100px;
}

.btnConatiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
}

.btnConatiner button {
    background-color: #e8e8f3;
    border-radius: 30px;
    width: 60%;
    height: 50px;
    border: none;
    margin: 10px auto;
    align-self: center;
    font-size:20px;
    color:#03bdbd;
}
