<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--redis配置-->
    <!--用户token配置-->
    <add key="UserDynamicRedisHosts" value="127.0.0.1:6379,allowadmin=true,password=123456"/>
    <!--mq配置-->
    <add key="GroupRabbitMQHosts" value="192.168.1.4"/>
    <add key="GroupRabbitMQHostsPort" value="5672"/>
    <add key="GroupRabbitMQHostsUser" value="liyang"/>
    <add key="GroupRabbitMQHostsPassword" value="123456"/>
  </appSettings>
</configuration>