<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--<appSettings>
    <add key="UserDynamicRedisHosts" value="127.0.0.1:6379,allowadmin=true,password=123456"/>
    <add key="GroupRabbitMQHosts" value="192.168.1.4"/>
    <add key="GroupRabbitMQHostsPort" value="5672"/>
    <add key="GroupRabbitMQHostsUser" value="liyang"/>
    <add key="GroupRabbitMQHostsPassword" value="123456"/>
  </appSettings>-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
</configuration>