<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <!--用户登录过期时间设置,按天算,指在当前时间往后加的天数-->
  <add key="UserLoginExpireDay" value="30" />
  <!--用户验证时,发送的验证码过期时间配置,单位：秒-->
  <add key="UserCodeExpireSecond" value="120" />
  <!--添加好友总数量上限-->
  <add key="UserAddFriendTotalCount" value="3000" />
  <!--每天添加好友数量上限-->
  <add key="UserAddFriendDayCount" value="30" />
  <!--群组好友总数量上限-->
  <add key="GroupUserTotalCount" value="500" />
  <!--redis配置-->
  <!--用户token配置-->
  <add key="UserDynamicRedisHosts" value="127.0.0.1:6379,allowadmin=true,password=123456" />
  <!--消息处理地址配置-->
  <add key="MsgHandlerRedisHosts" value="127.0.0.1:8379,allowadmin=true,password=123456" />

  <!--mq配置-->
  <add key="GroupRabbitMQHosts" value="192.168.5.6"/>
  <add key="GroupRabbitMQHostsPort" value="5672"/>
  <add key="GroupRabbitMQHostsUser" value="liyang"/>
  <add key="GroupRabbitMQHostsPassword" value="ya.li.4321"/>
  <!--<add key="GroupRabbitMQHosts" value="172.18.9.14"/>
  <add key="GroupRabbitMQHostsPort" value="5672"/>
  <add key="GroupRabbitMQHostsUser" value="liyang"/>
  <add key="GroupRabbitMQHostsPassword" value="ya.li.4321"/>-->


  <!--文件上传目录配置,值为当前计算机的绝对地址-->
  <add key="UploadDirectory" value="/upload/" />

  <!--文件对外访问的地址配置,值以http://或者https://开头 http://192.168.5.6:8033/-->
  <add key="FileAccessUrl" value="http://192.168.5.6:8033/" />

</appSettings>
