<form id="UpPicture" enctype="multipart/form-data" action="http://localhost:18746/resx/audio" method="post">
    <table>
        <tr>
            <td>图片</td>
            <td>
                <input type="file" name="Picture" />
            </td>
        </tr>
        <tr>
            <td>提交</td>
            <td>
                <input type="submit" value="提交" />
            </td>
        </tr>
    </table>
</form>