<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HWL官方网站</title>
    <link rel="stylesheet" type="text/css" href="~/Content/index.css">
    <link href="~/Content/scripts/layer/skin/default/layer.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/jquery.jslides.js"></script>
    <script type="text/javascript" src="~/Content/scripts/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="~/Content/scripts/layer/layer.js"></script>
</head>
<body>
    <div class="head">
        <div class="nav">
            <ul>
                <li class="on">
                    <h1><a href="/"><span>首页</span></a></h1>
                </li>
                <li>
                    <h1><a href="/home/shareapp">客户端下载</a></h1>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="banner">
        <div id="full-screen-slider">
            <ul id="slides">
                <li style="background: url(&quot;/Content/images/banner.png&quot;) center center no-repeat; z-index: 800; display: block;">
                    <div class="ban">
                        <div class="banbox">
                            <h1>新增FRP服务器</h1>
                            <h2>支持HTTPS、UDP转发</h2>
                            <h3>使用Ngrok的127.0.0.1:4040异步调试、其他穿透使用FRP</h3>
                            <a href="/login/register">立即注册</a>
                        </div>
                    </div>
                </li>
                <li style="background: url(&quot;/Content/images/banner.png&quot;) center center no-repeat; z-index: 900; display: none;">
                    <div class="ban">
                        <div class="banbox">
                            <h1>免费服务器支持绑定自定义域名</h1>
                            <h2>实现内外网通讯</h2>
                            <h3>外网访问内网服务器不再是距离</h3>
                            <a href="/login/register">立即注册</a>
                        </div>
                    </div>
                </li>
                <li style="background: url(&quot;/Content/images/banner.png&quot;) center center no-repeat; z-index: 900; display: none;">
                    <div class="ban">
                        <div class="banbox">
                            <h1>支持内网HTTP映射</h1>
                            <h2>HTTP转发</h2>
                            <h3>在您电脑的web服务直接开放给外网，再也不担心没有路由器权限和80端口被营运商封闭了</h3>
                            <a href="/login/register">立即注册</a>
                        </div>
                    </div>
                </li>
                <li style="background: url(&quot;/Content/images/banner.png&quot;) center center no-repeat; z-index: 900; display: none;">
                    <div class="ban">
                        <div class="banbox">
                            <h1>微信本地开发</h1>
                            <h2>微信开发</h2>
                            <h3>解决本地80端口无法访问，不需要重复的进行文件上传到服务器，节省大量的上传时间，基于本地写完代码就可以通过微信调试</h3>
                            <a href="/login/register">立即注册</a>
                        </div>
                    </div>
                </li>
                <li style="background: url(&quot;/Content/images/banner.png&quot;) center center no-repeat; z-index: 900; display: none;">
                    <div class="ban">
                        <div class="banbox">
                            <h1>外网管理内网服务器</h1>
                            <h2>tcp端口转发</h2>
                            <h3>不仅实现了http服务的端口转发同时支持tcp的端口，在外网可以通过ssh等方式连接服务器</h3>
                            <a href="/login/register">立即注册</a>
                        </div>
                    </div>
                </li>
            </ul><ul id="pagination" style="margin-left: -55px;"><li class="current"><a>1</a></li><li class=""><a>2</a></li><li class=""><a>3</a></li><li class=""><a>4</a></li><li class=""><a>5</a></li></ul>
        </div>
    </div>
    <div class="join">
        <div class="join-box">
            <div class="join-list1">
                <h1>为什么使用Sunny-Ngrok？</h1>
                <ul>
                    <li><span></span>提供免费内网穿透服务，免费服务器支持绑定自定义域名</li>
                    <li><span></span>管理内网服务器，内网web进行演示</li>
                    <li><span></span>快速开发微信程序和第三方支付平台调试</li>
                    <li><span></span>本地WEB外网访问、本地开发微信、TCP端口转发</li>
                    <li><span></span>本站新增FRP服务器，基于 <a href="http://github.com/fatedier/frp" target="_balnk" style="color:blue;">FRP</a> 实现https、udp转发</li>
                    <li><span></span>无需任何配置，下载客户端之后直接一条命令让外网访问您的内网不再是距离</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy">
        Copyright © 2015-2017 All Rights Reserved.
    </div>

</body>
</html>