@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="head">
    <div class="nav">
        <ul>
            <li>
                <h1><a href="/"><span>首页</span></a></h1>
            </li>
            <li class="on">
                <h1><a href="/home/qrshare"><span>APP下载</span></a></h1>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="join">
    <div class="join-box">
        <div class="join-qr">
            <img src="~/app.png" width="250" height="250"/>
            <p>(用手机扫一扫下载)</p>
        </div>
        <div class="join-list2 join-qr-desc">
            <h1>HWL Chat 功能介绍：</h1>
            <ul>
                <li><span></span>HWL是一款基于LBS定位,并将一定范围的用户组建成一个圈子,这些用户之间可以相互共享自己主动发布的信息的APP</li>
                <li><span></span>提供周围的人分享的信息展示列表</li>
                <li><span></span>向周围的人发布自己身边的趣事,包含文本,图片</li>
                <li><span></span>快速融入周围的圈子,和周围的人聊天八卦一下</li>
                <li><span></span>可以将有同样兴趣的人加为好友</li>
                <li><span></span>成为好友后,好友圈之间的信息是共享的,也可以设置不让指定好友查看自己的信息</li>
                <li><span></span>提示:HWL系统会提供严格的个人隐私设置,对此如果有建议,您可以 <a href="javascript:alert('反馈功能稍后开放...');">反馈给官方</a></li>
            </ul>
        </div>
    </div>
</div>