<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>HWL APP下载</title>
    <link href="~/Content/share.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//res.cdn.openinstall.io/openinstall.js"></script>
    <script type="text/javascript">
        //openinstall初始化时将与openinstall服务器交互，应尽可能早的调用
        /*web页面向app传递的json数据(json string/js Object)，应用被拉起或是首次安装时，通过相应的android/ios api可以获取此数据*/
        var data = OpenInstall.parseUrlParams();//openinstall.js中提供的工具函数，解析url中的所有查询参数
        new OpenInstall({
            /*appKey必选参数，openinstall平台为每个应用分配的ID*/
            appKey: "hy83dj",
            /*自定义遮罩的html*/
            //mask:function(){
            //  return "<div id='openinstall_shadow' style='position:fixed;left:0;top:0;background:rgba(0,255,0,0.5);filter:alpha(opacity=50);width:100%;height:100%;z-index:10000;'></div>"
            //},
            /*openinstall初始化完成的回调函数，可选*/
            onready: function () {
                var m = this, button = document.getElementById("btnAndroid");
                button.style.visibility = "visible";

                /*在app已安装的情况尝试拉起app*/
                m.schemeWakeup();
                button.onclick = function () {
                    m.wakeupOrInstall();
                    return false;
                }
            }
        }, data);

    </script>
</head>
<body>
    <div class="shareContainer">
        <div class="logoContainer">
            <div class="logoContent">
                <img src="~/Content/images/logo.png" />
            </div>
        </div>
        <div class="hintContainer">
            <p>这里总会有一些你感兴趣的东西 , 快来看看呗！</p>
        </div>
        <div class="btnConatiner">
            <button id="btnAndroid">Android</button>
            <button onclick="alert('IOS版本正在开发中...');">IOS</button>
        </div>
    </div>
</body>
</html>