<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>HWL APP下载</title>
    <link href="~/Content/share.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="shareContainer">
        <div class="logoContainer">
            <div class="logoContent">
                <img src="~/Content/images/logo.png" />
            </div>
        </div>
        <div class="hintContainer">
            <p>想要了解你周围发生了什么有趣的事吗，快来看看呗!</p>
        </div>
        <div class="btnConatiner">
            <button id="btnAndroid" onclick="window.location = 'http://192.168.1.4:8031//upload/apkversion/201805/appdebug20180517220905.apk'">Android</button>
            <button onclick="alert('IOS版本正在开发中...');">IOS</button>
        </div>
    </div>
</body>
</html>