<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HWL官方网站</title>
    <link rel="stylesheet" type="text/css" href="~/Content/index.css">
    <link href="~/Content/scripts/layer/skin/default/layer.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/scripts/jquery.jslides.js"></script>
    <script type="text/javascript" src="~/Content/scripts/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="~/Content/scripts/layer/layer.js"></script>
</head>
<body>
    <div class="head">
        <div class="nav">
            <ul>
                <li class="on">
                    <h1><a href="/"><span>首页</span></a></h1>
                </li>
                <li>
                    <h1><a href="javascript:;">客户端下载</a></h1>
                </li>
                <li>
                    <h1><a href="#qq-qun">官方QQ群</a></h1>
                </li>
                <li>
                    <h1><a href="javascript:;"><span style="color:#ff0000;">使用教程(一定要看我)</span></a></h1>
                    <div>
                        <a href="http://www.sunnyos.com/article-show-67.html" target="_blank">隧道开通</a>
                        <a href="http://www.sunnyos.com/article-show-68.html" target="_blank">自定义域名</a>
                        <a href="http://www.sunnyos.com/article-show-69.html" target="_blank">http账号密码验证</a>
                        <a href="http://www.sunnyos.com/article-show-70.html" target="_blank">TCP转发</a>
                        <a href="http://www.sunnyos.com/article-show-71.html" target="_blank">Windows使用方法</a>
                        <a href="http://www.sunnyos.com/article-show-72.html" target="_blank">梅林路由界面</a>
                        <a href="http://v.youku.com/v_show/id_XMjk3OTA1MDIyOA==.html" target="_blank">Python版本教程</a>
                        <a href="http://v.youku.com/v_show/id_XMjk3OTA4MjQ5Mg==.html" target="_blank">Android教程</a>
                        <a href="http://v.youku.com/v_show/id_XMjk3OTA0MjYzNg==.html" target="_blank">PHP版本教程</a>
                        <a href="http://video.tudou.com/v/XMjQ2NjQ4NjgwNA==.html?spm=a2h3j.8428770.3416059.1" target="_blank">梅林命令行教程</a>
                        <a href="http://www.sunnyos.com/article-show-76.html" target="_blank">Frp使用教程</a>
                    </div>
                </li>
                <li>
                    <h1><a href="javascript:;"><span>站长教程</span></a></h1>
                    <div>
                        <a href="http://study.163.com/course/courseMain.htm?courseId=1003092002" target="_blank">微信开发教程</a>
                        <a href="http://study.163.com/course/courseMain.htm?courseId=1004466002" target="_blank">树莓派开发教程</a>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="featu">
            <a href="/login" class="land">登陆</a>
            <a href="/login/register" class="regis">注册</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="banner">
        <div id="full-screen-slider">
            <ul id="slides">
                <li style="background: url(&quot;/Content/images/banner.png&quot;) center center no-repeat; z-index: 800; display: block;">
                    <div class="ban">
                        <div class="banbox">
                            <h1>新增FRP服务器</h1>
                            <h2>支持HTTPS、UDP转发</h2>
                            <h3>使用Ngrok的127.0.0.1:4040异步调试、其他穿透使用FRP</h3>
                            <a href="/login/register">立即注册</a>
                        </div>
                    </div>
                </li>
                <li style="background: url(&quot;/Content/images/banner.png&quot;) center center no-repeat; z-index: 900; display: none;">
                    <div class="ban">
                        <div class="banbox">
                            <h1>免费服务器支持绑定自定义域名</h1>
                            <h2>实现内外网通讯</h2>
                            <h3>外网访问内网服务器不再是距离</h3>
                            <a href="/login/register">立即注册</a>
                        </div>
                    </div>
                </li>
                <li style="background: url(&quot;/Content/images/banner.png&quot;) center center no-repeat; z-index: 900; display: none;">
                    <div class="ban">
                        <div class="banbox">
                            <h1>支持内网HTTP映射</h1>
                            <h2>HTTP转发</h2>
                            <h3>在您电脑的web服务直接开放给外网，再也不担心没有路由器权限和80端口被营运商封闭了</h3>
                            <a href="/login/register">立即注册</a>
                        </div>
                    </div>
                </li>
                <li style="background: url(&quot;/Content/images/banner.png&quot;) center center no-repeat; z-index: 900; display: none;">
                    <div class="ban">
                        <div class="banbox">
                            <h1>微信本地开发</h1>
                            <h2>微信开发</h2>
                            <h3>解决本地80端口无法访问，不需要重复的进行文件上传到服务器，节省大量的上传时间，基于本地写完代码就可以通过微信调试</h3>
                            <a href="/login/register">立即注册</a>
                        </div>
                    </div>
                </li>
                <li style="background: url(&quot;/Content/images/banner.png&quot;) center center no-repeat; z-index: 900; display: none;">
                    <div class="ban">
                        <div class="banbox">
                            <h1>外网管理内网服务器</h1>
                            <h2>tcp端口转发</h2>
                            <h3>不仅实现了http服务的端口转发同时支持tcp的端口，在外网可以通过ssh等方式连接服务器</h3>
                            <a href="/login/register">立即注册</a>
                        </div>
                    </div>
                </li>
            </ul><ul id="pagination" style="margin-left: -55px;"><li class="current"><a>1</a></li><li class=""><a>2</a></li><li class=""><a>3</a></li><li class=""><a>4</a></li><li class=""><a>5</a></li></ul>
        </div>
    </div>
    <div class="join">
        <div class="join-box">
            <div class="join-list1">
                <h1>为什么使用Sunny-Ngrok？</h1>
                <ul>
                    <li><span></span>提供免费内网穿透服务，免费服务器支持绑定自定义域名</li>
                    <li><span></span>管理内网服务器，内网web进行演示</li>
                    <li><span></span>快速开发微信程序和第三方支付平台调试</li>
                    <li><span></span>本地WEB外网访问、本地开发微信、TCP端口转发</li>
                    <li><span></span>本站新增FRP服务器，基于 <a href="http://github.com/fatedier/frp" target="_balnk" style="color:blue;">FRP</a> 实现https、udp转发</li>
                    <li><span></span>无需任何配置，下载客户端之后直接一条命令让外网访问您的内网不再是距离</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="join" id="qq-qun" style="background:#fff;">
        <div class="join-box">
            <div class="join-list2">
                <h1>官方QQ群</h1>
                <h2>将会定期清理一年或者半年没有说过话的人</h2>
                <ul>
                    <li><span></span>532387951（一号群）<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=16a641f5555e748f87c2e85960b52af7851bc7710c6a5a2b91116a8e0fea8a87"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc一号群" title="ngrok.cc一号群"></a></li>
                    <li><span></span>276155731（二号群）<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=c2ecfbc9679246288ab11c9438a2e8ddf4ce9c4cf0f9589b730507081377d252"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc二号群" title="ngrok.cc二号群"></a></li>
                    <li><span></span>427801919（三号群群满）<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=0f18368f1192a1337fdf4c087dff5e8aa2693feec00bde86883dbdde232400a0"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc三号群" title="ngrok.cc三号群"></a></li>
                    <li><span></span>426298277（四号群）<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=87d275e1e3849aa3f331c287db698254918ab4544cc4beca6593f92e44c4257f"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc四号群" title="ngrok.cc四号群"></a></li>
                    <li><span></span>455801231（五号群）<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=965063b59dd8a0f55263f7086e8cd538953ea7498bba3f76ce5706840b4b734a"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc五号群" title="ngrok.cc五号群"></a></li>
                    <li><span></span>259065337（六号群）<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=1529e621c7fcee964e21781028e68507e77271620c761fafc6d4510569ad323b"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc六号群" title="ngrok.cc六号群"></a></li>
                    <li><span></span>643045663（七号群）<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=24ed724dcd2d0fd1e2013cfba6d3d307030ac3c55ecbc47904d8cf634df35883"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="ngrok.cc七号群" title="ngrok.cc七号群"></a></li>
                    <li><span></span>VIP群在隧道管理里面展开查看</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="linker">
        <div class="link">
            友情链接：
            <a href="http://www.sunnyos.com" target="_blank">Sunny博客</a>
        </div>
    </div>
    <div class="copy">
        Copyright © 2015-2017 All Rights Reserved.
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256514333'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1256514333%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script><span id="cnzz_stat_icon_1256514333"><a href="http://www.cnzz.com/stat/website.php?web_id=1256514333" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="https://icon.cnzz.com/img/pic.gif"></a></span>
        <script src=" https://s11.cnzz.com/stat.php?id=1256514333&amp;show=pic" type="text/javascript"></script>
        <script src="https://c.cnzz.com/core.php?web_id=1256514333&amp;show=pic&amp;t=z" charset="utf-8" type="text/javascript"></script>
        <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备17030714号-2</a>
        <script type="text/javascript">
    /*layer.confirm('所有问题都在教程里面有，遇到问题先看教程，再问人。如果遇的问题在教程里面出现或者群公告出现的，一律不回答，请认真看本站提示，不按照提示操作出现问题本站不负责，也不给予指导。提示都已经清楚说明。', {
          btn: ['确定','取消'],title:'提示'
      }, function(){
        layer.closeAll();
      }, function(){
        layer.closeAll();
      });*/
        </script>
    </div>

</body>
</html>