<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HWL Chat是一款基于LBS定位,并将一定范围的用户组建成一个圈子,这些用户之间可以相互共享自己主动发布的信息的APP">
    <meta name="keywords" content="HWLChat,HWL,HWL附近分享,HWL圈子">
    <title>HWL官方</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/index.css">
</head>
<body>

    @RenderBody()

    <div class="copy">
        Copyright © 2017-2018 All Rights Reserved.
    </div>

</body>
</html>